# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
anaconda-client=1.7.2=py38_0
anaconda-navigator=1.9.12=py38_0
anaconda-project=0.8.4=py_0
ca-certificates=2020.6.24=0
conda-build=3.18.11=py38_0
conda-env=2.6.0=1
conda-package-handling=1.6.1=py38h7b6447c_0
conda-verify=3.4.2=py_1
dask-core=2.20.0=py_0
diff-match-patch=20200713=py_0
gst-plugins-base=1.14.0=hbbd80ab_1
importlib-metadata=1.7.0=py38_0
intel-openmp=2020.1=217
lazy-object-proxy=1.4.3=py38h7b6447c_0
ld_impl_linux-64=2.33.1=h53a641e_7
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.3.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
lz4-c=1.9.2=he6710b0_0
matplotlib-base=3.2.2=py38hef1b27d_0
mkl-service=2.3.0=py38he904b0f_0
more-itertools=8.4.0=py_0
msgpack-python=1.0.0=py38hfd86e86_1
navigator-updater=0.2.1=py38_0
numpy-base=1.18.5=py38hde5b4d6_0
prompt-toolkit=3.0.5=py_0
py-lief=0.10.1=py38h403a769_0
python-dateutil=2.8.1=py_0
python-jsonrpc-server=0.3.4=py_1
python-language-server=0.34.1=py38_0
python-libarchive-c=2.9=py_0
scikit-image=0.16.2=py38h0573a6f_0
scikit-learn=0.23.1=py38h423224d_0
sphinxcontrib-applehelp=1.0.2=py_0
sphinxcontrib-devhelp=1.0.2=py_0
sphinxcontrib-htmlhelp=1.0.3=py_0
sphinxcontrib-jsmath=1.0.1=py_0
sphinxcontrib-qthelp=1.0.3=py_0
sphinxcontrib-serializinghtml=1.1.4=py_0
sphinxcontrib-websupport=1.2.3=py_0
spyder-kernels=1.9.2=py38_0
